@import url(reset.css);
@import url(font.css);
@import url(white-header-footer.css);


.sec-1 h1,
.sec-2 h1,
.sec-3 h1,
.sec-4 h1,
.sec-5 h1 {
    font-family: 'lattebold';
    font-size: 40px;
    margin-bottom: 24px;
    text-align: center;
}

.sec-1 h5,
.sec-2 h5,
.sec-3 h5,
.sec-5 h5 {
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
}



/* -----sec-1----- */
.sec-1 {
    width: 620px;
    margin: 120px auto 100px;
}


/* -----sec-2----- */
.sec-2 {
    width: 600px;
    margin: 0 auto 100px;
}

.sec-2 h5 {
    font-family: 'lattebold';
}

.sec-2 h6 {
    line-height: 1.4;
    text-align: center;

}

.missionlist {}

.missionlist::after {
    display: block;
    content: '';
    width: 320px;
    height: 1px;
    background-color: #B8B9C1;
    margin: 16px auto;
}

/* 為什麼是3 而不是2 */
.missionlist:nth-child(3)::after {
    width: 420px;
}

.missionlist:last-child::after {
    display: none;
}

/* -----sec-3----- */
.sec-3 {
    width: 755px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sec-3 h1 {
    margin-bottom: 0;
}

.groupcard {
    display: flex;
    gap: 20px;
    padding: 16px 24px;
    border: .5px solid #B8B9C1;
    border-radius: 8px;
    align-items: center;
}

.groupcard img {
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.group-info h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
}

.group-info h5 {
    text-align: left;
    margin: 12px 0;
}

.group-info h6 {
    line-height: 1.4;
}

.worklist {
    margin-top: 16px;
    line-height: 1.4;
}

.worklist ul {
    list-style-type: disc;
    padding: 24px;
}

/* -----sec-4----- */

.sec-4 {
    width: 672px;
    margin: 120px auto 120px;
}

.box-1 {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */
}

.box-1 span,
.box-2 span {
    display: block;
    width: 148px;
    line-height: 1.4;
    text-align: center;

}

/* .box-1 span::before {
    display: block;
    content: '';
    width: 1px;
    height: 48px;
    background-color: #B8B9C1;

} */

.sec-4 img {
    display: block;
    width: 628px;
    height: auto;
    box-sizing: border-box;
    margin: 24px auto;
}

.box-2 {
    width: 408px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}



/* -----sec-5----- */
.sec-5 {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-5 h5 {
    margin-bottom: 24px;
}

.sec-5 a {
    display: block;
    width: auto;
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    background-color: #EEEEF0;
    color: #262626;
    border: 1px solid #262626;
    border-radius: 20px;
    line-height: 1.4;
}

.sec-5 a:hover {
    background-color: #000A1E;
    color: white;
}