body {
    font-size: 16px;
    color: white;
    font-family: 'latte', Arial, sans-serif;
    background-color: #000A1E;
}


/* Header */
.header {
    display: flex;
    height: 56px;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: #000A1E;
}

.header a {
    margin-left: 48px;
    display: block;
}

.header a img {
    display: block;
    height: 37px;
}

.header ul {
    display: flex;
    margin-left: auto;
    margin-right: 48px;
}

.header ul li a {
    font-family: 'huninn';
    display: block;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
}

.header ul li a:hover {
    color: #E1C047;
}

/* Footer */

footer {
    font-family: 'huninn';
    height: 215px;
    margin-top: 100px;
    padding-top: 8px;
    background-color: #000A1E;
    color: white;
}

.hr {
    border: none;
    border-top: .1px solid #ccc;
    margin: 0 60px;
}

.footer-contect {
    display: flex;
    margin-top: 40px;
}

.ficon {
    margin-left: 60px;
}

.f_left {
    margin-left: 24px;
}

.f_left li a {
    display: block;
    text-decoration: none;
    line-height: 20px;
    color: white;
    padding: 4px 0;
}

.f_left li a:hover {
    color: #E1C047;
}

.f_brand {
    display: flex;
    padding-left: 0px;
}


.f_brand li {
    list-style-type: none;
    margin-right: 8px;
}


.f_right {
    width: 278px;
    margin-left: auto;
    margin-right: 60px;
    line-height: 140%;
}

.f_right span:first-child {
    display: inline-block;
}

.f_right span:last-child {
    display: block;
    float: right;
    width: 230px;
}

footer p {
    text-align: center;
    margin-top: 30px;
}