@import url(reset.css);
@import url(font.css);
@import url(white-header-footer.css);


/* ----login wrapper---- */
.login-wrapper {
    width: 1072px;
    margin: 165px auto 40px;
}

.login-wrapper h1 {
    font-family: 'lattebold';
    font-size: 48px;
}

/* -----box-content----- */
.box-content {
    width: 885px;
    margin: 24px auto 0;
}

.box-1 h4 {
    font-family: 'latte';
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.box-1 h4:nth-child(2) {
    font-family: 'lattebold';
    margin-bottom: 8px;
}

.box-1 h4 i,
.box-2 h4 i {
    margin-right: 8px;
}

.box-1-txt ul {
    display: flex;
}

.box-1-txt li {
    font-size: 24px;
    line-height: 1.4;
    color: #262626;
    padding-right: 16px;
}

.verify,
.login-data .verify {
    text-decoration: none;
    color: #626F93;
}

.verify:hover,
.login-data .verify:hover {
    text-decoration: underline;
}


.box-hr {
    border: none;
    border-top: 1px solid #B8B9C1;
    width: 885px;
    margin: 40px auto;
}

.box-2 {
    width: 432px;
}

.box-2 h4 {
    font-family: 'lattebold';
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.box-3,
.box-4 {
    width: 432px;
    display: flex;

}

.box-3 h4,
.box-4 h4 {
    font-family: 'latte';
    padding-top: 8px;
}

.login-data {
    margin-left: 16px;
}

.login-data input {
    font-size: 16px;
    width: 356px;
    height: 44px;
    border: 1px solid #B8B9C1;
    border-radius: 4px;
    padding-left: 8px;
    margin-bottom: 8px;
}

.login-data span {
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 4px;
}

.login-data span a {
    text-decoration: none;
    color: #262626;
}

.box-4 {
    margin: 16px 0;
}

.nextbtn {
    display: flex;
    justify-content: flex-end;
}

.nextbtn a {
    display: block;
    width: 80px;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    background-color: #000A1E;
    color: white;
    padding: 8px 4px;
    border-radius: 20px;
}

.nextbtn a:hover {
    color: #E1C047;
}