@font-face {
    font-family: 'latteBook';
    src: url(../font/jf-jinxuanlatte-2.0-book.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latte';
    src: url(../font/jf-jinxuanlatte-2.0-medium.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latteheavy';
    src: url(../font/jf-jinxuanlatte-2.0-heavy.otf);
    font-weight: normal;
    font-style: normal;
}