@import url(reset.css);
@import url(font.css);
@import url(black-header-footer.css);

/* --------Planet Start---------- */

.planet-container {
    position: relative;
    background-color: #000A1E;
    height: 820px;
}

.planet {
    position: absolute;
}

.planet img {
    transition: transform 0.3s ease-in-out;
}

.planet-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    /* 預設隱藏 */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
    white-space: nowrap;
}

.planet:hover .planet-name {
    visibility: visible;
    opacity: 1;
}

.planet a img {
    display: block;
}

.planet:hover a img {
    /* 滑鼠懸停時放大星球 */
    transform: scale(1.1);
}

/* 土星 */
.planet:nth-child(1) {
    top: 10%;
    left: 35%;
}

/* 海王星 */
.planet:nth-child(2) {
    top: 10%;
    left: 73%;
}

/* 火星 */
.planet:nth-child(3) {
    top: 24%;
    left: 28%;
}

/* 天王星 */
.planet:nth-child(4) {
    top: 30%;
    left: 65%;
}

/* 月亮 */
.planet:nth-child(5) {
    top: 46%;
    left: 32%;
}

/* 金星 */
.planet:nth-child(6) {
    top: 52%;
    left: 18%;
}

/* 地球 */
.planet:nth-child(7) {
    top: 50%;
    left: 28%;
}

/* 水星 */
.planet:nth-child(8) {
    top: 68%;
    left: 15%;
}

/* 木星 */
.planet:nth-child(9) {
    top: 58%;
    left: 55%;
}

/* slogan */
.overlay {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* 避免遮擋下方互動 */
    z-index: 2;
}

.text-container {
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(211, 211, 211, 0.523);
    /* 半透明背景 */
    border-radius: 10px;
}

.text-container h1 {
    font-family: 'huninn';
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
}

.text-container h2 {
    padding-top: 8px;
    font-size: 36px;
}

/* ---------Planet end------------ */


/* Section 1 */
.sec-1,
.sec-2 {
    width: 900px;
    margin: 0 auto;
}

.sec-1 h1,
.sec-2 h1 {
    /* font-family: 'lattebold'; */
    font-family: 'huninn';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

.sec-1 p {
    margin: 40px 0 60px;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.48px;
}

.sec-1 a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: 175px;
    line-height: 1.4;
    background-color: #EEEEF0;
    color: #262626;
    border-radius: 25px;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

.sec-1 a:hover {
    background-color: #000A1E;
    color: #E1C047;
}

.sec-1 a i {
    margin-left: 8px;
}

/* Section 2 */
.sec-2 h1 {
    margin-top: 60px;
}

.contect {
    margin-top: 40px;
}

.sec-2 h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
}

.sec-2 img {
    width: 350px;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}


.sec-2 p {
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.48px;
}