@import url(reset.css);
@import url(font.css);
@import url(black-header-footer.css);

html {
    scroll-behavior: smooth;
}

/* ----------Main----------- */
.main {
    width: 900px;
    margin: 72px auto 108px;
}

.main h1 {
    font-family: 'lattebold';
    font-size: 48px;
}

.main ul {
    list-style-type: disc;
    margin: 16px 0 0 24px;
}

.main ul li h2 {
    font-size: 24px;
}

.main img {
    display: block;
    width: 650px;
    margin: 32px auto 0;
}

.main h3 {
    text-align: center;
    margin: 16px 0;
}

.box-1 {
    display: flex;
    justify-content: space-between;
}

.box-1 span {
    font-size: 24px;
}

.txtline {
    width: 375px;
    height: 1px;
    background-color: #A0A4B4;
    align-items: center;
    margin-top: 10px;
}

.box-2 {
    width: 900px;
    margin-top: 24px;
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.box-2-1,
.box-2-3 {
    width: 35%;
}

.box-2-2 {
    width: 30%;
}

.box-2 h2 {
    font-size: 40px;
    margin-bottom: 8px;
}

.box-2 ul {
    display: inline-block;
    text-align: left;
}

.line {
    width: 1.5px;
    height: 100px;
    background-color: #E1C047;
}


/* ---------Nav-Sec------------ */
.nav-sec {
    width: 1025px;
    margin: 0 auto;
    border-bottom: 2.5px solid #52535D;
    padding-bottom: 12px;

    position: sticky;
    padding-top: 12px;
    top: 56px;
    background-color: #000A1E;
    z-index: 999;
}


.nav-sec ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-sec ul li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 24px;
}


/* ---------Sec-1------------ */
.sec-1,
.sec-2,
.sec-3,
.sec-4 {
    width: 1025px;
    margin: 64px auto 0;
    padding: 40px 0;
}

.sec-1 h1,
.sec-2 h1,
.sec-3 h1,
.sec-4 h1 {
    font-size: 40px;

}

.sec-1 h2,
.sec-3 h2,
.sec-4 h2 {
    font-size: 24px;
    margin: 16px 0;
}

.sec-1 p,
.sec-3 p,
.sec-4 p {
    font-size: 18px;
    line-height: 150%;
}

.sec-1 ul,
.sec-3 ul {
    list-style-type: disc;
}

.sec-1 li,
.sec-3 li {
    margin-left: 24px;
    font-size: 18px;
    line-height: 150%;
}

/* ---------Sec-2------------ */
.s2-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* ------左側list + img ------ */
.s2-box-1 {
    width: 50%;
    display: flex;
}

.s2-box-1 img {
    display: block;
    width: 350px;
    /* height: auto; */
    margin: auto;
}

.left_list li {
    font-size: 20px;
    color: #B8B9C1;
    text-align: right;
    /* 不讓文字斷行 */
    white-space: nowrap;
    /* margin-bottom: 4px; */
}

.left_list li a:hover {
    color: white;
}

.left_list li a {
    display: block;
    line-height: 140%;
    text-decoration: none;
    /* 繼承顏色 */
    color: inherit;
}

.left_list li:nth-child(5) a {
    color: #E1C047;
}

.list-1 {
    transform: translate(40px, 56px);
}

.list-2 {
    transform: translate(10px, 76px);
}

.list-3 {
    transform: translate(-20px, 96px);
}

.list-4 {
    transform: translate(-50px, 116px);
}

.list-5 {
    transform: translate(-50px, 136px);
    color: #E1C047;
}

.list-6 {
    transform: translate(-20px, 156px);
}

.list-7 {
    transform: translate(10px, 176px);
}

.list-8 {
    transform: translate(40px, 196px);
}

/* -------右側說明-------- */

.s2-box-2 {
    width: 50%;
    border-top: 1px solid #C7CBDA;
    padding-bottom: 12px;
    border-bottom: 1px solid #C7CBDA;
}

.s2-box-2 h2 {
    font-size: 24px;
    line-height: 140%;
    margin: 16px 0;
    text-align: center;
}

.s2-box-2 img {
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    object-fit: cover;
    object-position: 50% 30%;
}

.s2-box-2 ul {
    margin-top: 16px;
    list-style-type: disc;
}

.s2-box-2 li {
    line-height: 140%;
}

.btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.btn a {
    display: inline-block;
    width: 235px;
    font-size: 20px;
    font-weight: bold;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    background-color: #EEEEF0;
    color: #262626;
    padding: 8px;
    border-radius: 20px;
}

.btn a:hover {
    background-color: #000A1E;
    color: #E1C047;
}

.btn a i {
    margin-left: 8px;
    font-size: 16px;
}

/* ---------Sec-3------------ */


/* ---------To top------------ */
.to-top-btn {
    /* display: block; */
    position: fixed;
    bottom: 40px;
    right: 80px;
}

.to-top-btn svg:hover path {
    stroke: white
}

.to-top-btn svg:hover rect {
    fill: #E1C047;
}